.repository {
  display: flex;
  align-content: center;
  justify-content: space-between;
  align-items: flex-start;
  font-size: 1.5rem;
  text-decoration: none;
}

p a {
  color: #857da4 !important;
}

.repository-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 20px;
  transition: 200ms ease-in-out;
  border-radius: 8px;
  padding: 1rem;
  margin-right: 1.5rem;
  font-size: 16;
  min-width: 30rem;
  height: 250px;
  background-color: #1e1e1e;
  box-shadow: 0px 0px 15px -7px #ff4da6;
}

.slide {
  -webkit-animation: slide-rotate-ver-r-fwd 0.5s
    cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: slide-rotate-ver-r-fwd 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
}

@-webkit-keyframes slide-rotate-ver-r-fwd {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
    transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  100% {
    -webkit-transform: translateX(150px) translateZ(130px) rotateY(-90deg);
    transform: translateX(150px) translateZ(130px) rotateY(-90deg);
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
}
@keyframes slide-rotate-ver-r-fwd {
  0% {
    -webkit-transform: translateX(0) translateZ(0) rotateY(0);
    transform: translateX(0) translateZ(0) rotateY(0);
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
  100% {
    -webkit-transform: translateX(150px) translateZ(130px) rotateY(-90deg);
    transform: translateX(150px) translateZ(130px) rotateY(-90deg);
    -webkit-transform-origin: center left;
    transform-origin: center left;
  }
}

.repository_footer {
  color: lightgray;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repository_footer_item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.repository_footer_languages {
  display: flex;
}

.github_btns {
  display: flex;
  justify-content: space-around;
}

iframe {
  margin: none;
}

.author {
  margin-bottom: 10px;
}

@media only screen and (max-width: 600px) {
  .repository-info {
    min-width: 95%;
    height: 250px;
    background-color: #1e1e1e;
  }

  .repo_link {
    font-size: 1rem;
  }

  .repo_desc {
    font-size: 1.1rem;
  }
}
